<div class="container">
  <input type="button" class="btn btn-primary" data-target="#modalAdd" data-toggle="modal" value="Add New Profile"/>
  <br/>
  <hr/>
  <div *ngIf="!hasData">
    <h3> No profiles on database. Please add a profile by clicking on the "Add New Profile" button</h3>
  </div>

 <table class="table" *ngIf="hasData">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Surname</th>
        <th scope="col">ID Number</th>
        <th scope="col">Passport Number</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th colspan="2">Change or Remove</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let p of profileList let i = index ">
        <td style="display: none">{{p.id}}</td>
        <td scope="col">{{p.firstname}}</td>
        <td scope="col">{{p.surname}}</td>
        <td scope="col">{{p.identityNum}}</td>
        <td scope="col">{{p.passportNum}}</td>
        <td scope="col">{{p.contactDetails.mobileNumber}}</td>
        <td scope="col">{{p.contactDetails.emailAddress}}</td>
        <td scope="col">
          <button type="button"
                  (click)="prepareEditForm(p)"
                  class="btn btn-default btn-primary"
                  data-target="#modalEdit"
                  data-toggle="modal">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </button>
        <td scope="col">
            <button type="button"
                    (click)="processDelete(p.id,p.firstname)"
                    class="btn btn-default btn-danger">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
          </td>
      </tr>
    </tbody>
  </table>

  <div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-primary">Create Profile</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <app-profile-add #addProfileForm></app-profile-add>
        </div>
        <div class="modal-footer">
          <button type="button" #closeBtn class="btn btn-danger" #btnClose data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Profile</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <app-profile-edit #editProfileForm></app-profile-edit>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
