body {
    font-family: monospace;
    font-size: 16px;
}

ol {
  background: #000000;
  color: whitesmoke;
  padding: 36px;
}

ol li {
  padding: 20px;
  margin-left: 10px;
}

.game {
    font-weight: 500;
}

.winner {
    color: yellowgreen;
}

.move {
    color: #2d70ff;
}

.fail {
    color: orange;
}

.end {
    color: tomato;
}