<input type="button" #btnDismissModal class="btn btn-default hidden" data-dismiss="modal"/>
<div class="container">
    <form
      #addProfileForm="ngForm"
      (ngSubmit)="saveProfile(addProfileForm)"
      class="form-horizontal"
    >
      <div class="form-group">
        <label class="control-label" for="firstname">First Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="firstname"
            placeholder="Please enter your first name"
            name="firstname"
            firstname
            required
            [(ngModel)]="profileModel.firstname"
            #firstname="ngModel"
          />
          <span class="validationMsg" *ngIf="firstname.touched && !firstname.valid"
            >*</span
          >
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="surname">Surname</label>
        <div class="col-sm-10">
          <input
            required
            type="text"
            class="form-control"
            id="surname"
            placeholder="Please enter your surname"
            name="surname"
            surname
            required
            [(ngModel)]="profileModel.surname"
            #surname="ngModel"
          />
          <span class="validationMsg" *ngIf="surname.touched && !surname.valid"
            >*</span
          >
        </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="identityNum">Identity Number</label>
          <div class="col-sm-10">
            <input
              #identityNum="ngModel"
              required
              type="text"
              [(ngModel)]="profileModel.identityNum"
              class="form-control"
              id="identityNum"
              placeholder="Please enter your ID Number"
              name="identityNum"
            />
            <span class="validationMsg" *ngIf="identityNum.touched && !identityNum.valid">*</span>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="passport">Passport Number</label>
          <div class="col-sm-10">
            <input
              #passport="ngModel"
              required
              type="text"
              [(ngModel)]="profileModel.passportNum"
              class="form-control"
              id="passport"
              placeholder="Please enter your passport number"
              name="passport"
            />
            <span class="validationMsg" *ngIf="passport.touched && !passport.valid">*</span>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="phoneNum">Phone Number</label>
          <div class="col-sm-10">
            <input
              #phoneNum="ngModel"
              required
              type="text"
              [(ngModel)]="profileModel.contactDetails.mobileNumber"
              class="form-control"
              id="phoneNum"
              placeholder="Please enter your phone number"
              name="phoneNum"
            />
            <span class="validationMsg" *ngIf="phoneNum.touched && !phoneNum.valid">*</span>
          </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <div class="col-sm-10">
          <input
            #email="ngModel"
            required
            type="email"
            [(ngModel)]="profileModel.contactDetails.emailAddress"
            class="form-control"
            id="email"
            placeholder="Please enter your email address"
            name="email"
          />
          <span class="validationMsg" *ngIf="email.touched && !email.valid">*</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="btnsubmit" type="submit" class="btn btn-primary">
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
